body{
	background-color: rgba(0,0,0,.05);
}
.sidebar{
	width: 200px;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 99;
	background-color:#262626;
	color: white;
}
.sidebar ul{
	margin: 0;
	padding: 0;
	padding-top: 70px;
}
.sidebar li{
	border-bottom: 1px solid rgba(255,255,255,.2);
	display: block;
}
.sidebar li:nth-Child(6){
	border-bottom: none;
}
.sidebar a{
	padding: 20px;
	display: block;
	color: white;
}

.isi{
	width: 500px;
	text-align: center;
	font-family: sans-serif;
	margin: auto;
	margin-top: 200px;
}
.isi span{
	color: blue;
}
.sidebar .aktif{
	background-color: black;
}
.container{
	width: 1000px;
	background-color: white;
	padding: 20px;
	margin-left: 250px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	margin-top: 120px;
	margin-bottom: 120px;
}
.table{
	width: 100%;
	font-family: sans-serif;
	color: rgba(0,0,0,.8);
	font-size: 15px;
}
.table tr:nth-Child(odd){
	background-color:rgba(0,0,0,.05);
}
.table tr:nth-Child(1){
	background-color: orangered;
	color: white;
	font-family: sans-serif;
}
.table td{
	border-right: 1px solid rgba(0,0,0,.1);
}
.table tr:hover{
	background-color:rgba(0,0,0,.1);
}
.table tr:nth-Child(1):hover{
	background-color:orangered;
}
.table th{
	padding: 20px;
	border-right: 1px solid rgba(0,0,0,.1);
}
.icon{
	width: 20px;
	color: white;
}
.boxTambah{
	width: 50%;
	margin-left: 250px;
	margin-top: 100px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.2);
}
.formBarang input{
	display: block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.judulBox{
	font-family: sans-serif;
	color: rgba(0,0,0,.7);
}
.formBarang button{
width: 100%;
padding: 10px;
border: none;
background-color: orangered;
color: white;
cursor: pointer;

}
.cari{
	margin-bottom: 20px;
	margin-top: 20px;
}
.cari input{
	width: 500px;
	padding: 10px;
	border-radius: 20px;
	border: none;	
	border: 1px solid grey;
}
input:focus{
	outline: none;
}

.cari button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color:orangered;
	color: white;
	cursor: pointer;
}
.tambah{
	padding:5px 20px;
	display:inline-block;
	background-color: #e44c53;
	color: white;
	border-radius:5px;
}
.selectLelang{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
}
.brandAdmin{
	color: white;
}

.boxTambah select{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
}
.btn-buka,.btn-tutup{
	padding: 5px 10px;
	border-radius: 10px;
	background-color: lightgreen;
	color: black;
	border: none;
	cursor: pointer;
	transition: .3s;
}
.btn-buka:hover{
	background-color: green;
	color: white;
}
.btn-tutup{
	background-color: #e24848;
	color: white;
	border: none;
}
.btn-tutup:hover{
	background-color: red;
}
.listLaporan{
	color: #262626;
	display: block;
	border: 1px solid rgba(0,0,0,.3);
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.listLaporan:hover{
	transition: .3s;
	background-color: rgba(0,0,0,.1);
}